<%- model_class = Location -%>
<div class="page-header">
  <h1><%= @location.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @location.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @location.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:longitude) %>:</strong></dt>
  <dd><%= @location.longitude %></dd>
  <dt><strong><%= model_class.human_attribute_name(:latitude) %>:</strong></dt>
  <dd><%= @location.latitude %></dd>
</dl>
    

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              locations_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_location_path(@location), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              location_path(@location),
              :method => 'delete',
              :data => { :confirm => t('.confirm',:default => 'Delete ' + @location.name + '?') },
              :class => 'btn btn-danger' %>
</div>

<%= gmaps("map_options" => {"zoom" => 14, "auto_adjust" => false, "center_latitude" => @location.latitude, "center_longitude" => @location.longitude},
	"markers" => { "data" => @json },
	"direction"   => { "data" => {"from" => @location.address, "to" => "1972 Clark Ave, Alliance, OH"},"travelMode" => "DRIVING", "display_panel" => true, "panel_id" => "instructions"}) %>
