<%= gmaps("map_options" => {"zoom" => 14, "auto_adjust" => false, "center_latitude" => @location.latitude, "center_longitude" => @location.longitude},
	"markers" => { "data" => @json },
	"direction"   => { "data" => {"from" => @location.address, "to" => "1972 Clark Ave, Alliance, OH"},"travelMode" => "DRIVING", "display_panel" => true, "panel_id" => "instructions"}) %>

<p id="notice"><%= notice %></p>
<div id='container'>
<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Address:</b>
  <%= @location.address %>
</p>

<p>
  <b>Longitude:</b>
  <%= @location.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @location.latitude %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
<h2>Import Products</h2>

<%= form_tag import_students_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
</div>